* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    padding: 1rem;
    background-color: #F06E56;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid #363636;
}

.nav_logo {
    width: 30%;
}

img {
    max-width: 100%;
    height: 100px;
}

nav ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

ul li a {
    color: #363636;
    text-decoration: none;
    font-size: 1.5rem;
}

footer {
    background-color: #363636;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer h2 {
    text-align: center;
}

.footer {
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding-top: 2rem;
}

footer h2, footer h3, footer p {
    color: #F06E56;
    text-align: center;
}

footer h3 {
    margin-bottom: 2rem;
    text-align: center;
}

.footer_right h3 {
    padding-bottom: 2rem;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_top {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

iframe {
    height: 320px;
}

#republique {
    background-color: #363636;
    padding-top: 2rem;
}

#republique h1 {
    text-align: center;
    font-size: 3rem;
    color: #363636;
}

#republique p, #republique h2 {
    color: #363636;
    padding-bottom: 2rem;
}

#republique h2 {
    font-size: 2rem;
}

#republique p {
    font-size: 1.5rem;
}

#republique .container {
    background-color: #F06E56;
    padding-top: 2rem;
    border-radius: 1rem;
}

.symboles {
    display: flex;
    gap: 25px;
}

.symboles-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.symboles-img {
    width: 20%;
}

.symboles-img img {
    height: 400px;
    object-fit: contain;
}

.origine {
    display: flex;
    gap: 25px;
}

.origine-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.origine-img {
    width: 20%;
}

.origine-img img {
    height: 400px;
    object-fit: contain;
}

.repu p {
    margin-bottom: 0;
}





