* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/static/Roboto-Regular.ttf);
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    padding: 1rem;
    background-color: #F06E56;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid #363636;
}

.nav_logo {
    width: 30%;
}

img {
    max-width: 100%;
    height: 100px;
}

nav ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

ul li a {
    color: #363636;
    text-decoration: none;
    font-size: 2rem;
}

footer {
    background-color: #363636;
}

footer h2 {
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer h2, footer h3, footer p {
    color: #F06E56;
}

footer h3 {
    margin-bottom: 2rem;
}

.footer_right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.footer_top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
}






